*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    color: white;

}
h2{
    color: rgba(0, 208, 255, 0.401);
    font-weight: 900;
    font-size: 2rem;
    font-family: monospace;
}
header{
    width: 100%;
    height: 10%;
    padding: 0% 7%;
    background-color: teal;
}
nav{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
ul{
    width: 60%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    list-style-type: none;
}
a{
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
    padding-left: 60px;
}
section{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 7%;
}
.cont{
    width: 50%;
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
}
.cont>div{
    flex-direction: row;
    justify-content: flex-start;
}
button{
    padding: 15px 30px;
    color: white;
    background-color: tomato;
    border-radius: 10px;
    border: unset;
    margin-right: 20px;
}
.rasim{
    border-radius: 5%;
    width: 50%;
    height: 70%;
    position: relative;
}
.rasim img{
    width: 100%;
    height: auto;
    position: absolute;
    bottom: 3%;
}
.cont h1{
    font-size: 3rem;
    color: white;
}
p{
    color: gray;
    font-size: 1.2rem;
    font-family: monospace;
    font-weight: 700;
    letter-spacing: 2px;
}
#page-1{
    background-color: wheat;
}
#page-2{
    background-color: rgb(78, 170, 206);
}
#page-3{
    background-color: rgb(131, 131, 208);
}
#page-4{
    background-color: rgb(182, 182, 228);
}
#page-5{
    background-color: rgb(96, 96, 157);
}