*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    max-width: 1480px;
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #589BF7;
}
header, nav, ul{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
nav{
    width: 100%;
    padding: 0 5%;
    /* justify-content: space-between; */
}
.logo{
    width: 100;
    height: 100;
}
.logo img{
    width: 100%;
    height: 100%;
}
nav h1{
    color: white;
}
ul{
    width: 60%;
    justify-content: space-evenly;
}
nav ul li{
    list-style-type: none;
    font-size: 1rem;
    transition: transform 0.3s ease-in-out;
}
nav ul li:hover a{
    border-radius: 30px;
    transform: scale(1.2);
    /* font-size: 1.2rem; */
    /* padding: 5px 20px; */
    background-color: #3152BA;
    color: white;
}
nav ul li a{
    text-decoration: none;
    color: black;
}
nav ul li button{
    padding: 10px 35px;
    background-color: #3152BA;
    color: white;
    border-radius: 30px;
    border: none;
}
main{
    /* height: 70vh; */
}
.welcome{
    width: 95%;
    margin-left: 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.welcome-text{
    width: 60%;
    height: 60%;
    font-family: Itim;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-evenly;
}
.welcome-text h2{
    color: #61655F;
    font-size: 2rem;
}
.welcome-text h1{
    color: #252B42;
    font-size: 4rem;
}
.welcome-text p{
    color: #737373;
    font-size: 1.4rem;
}
.welcome-image{
    width: 40%;
    height: 100%;
}
.welcome-image img{
    height: 100%;
    width: 100%;
}
.btns{
    display: flex;
    width: 100%;
}
.btns button{
    padding: 15px 40px;
    border: 1px solid #3152BA;
    border-radius: 10px;
    font-size: 1.3rem;
    margin-right: 1%;
}
.btns button:first-child{
    background-color: #3152BA;
    color: white;
}
.btns button:last-child{
    color: #3152BA;
}
.about{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5%;
    height: 82%;
    padding-top: 5%;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('./components/bg-about.png');
}
.about-image{
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.about-text{
    width: 50%;
    font-family: Itim;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}
.about-text h2{
    color: #3152BA;
    font-size: 3rem;
    /* border-bottom: 2px dashed #d5902f; */
}
.about-text p{
    color: #61655F;
    margin-top: 10%;
    font-size: 1.4rem;
    line-height: 2.5rem;
    /* border-bottom: 2px dashed #d5902f; */
}
footer{
    height: 20vh;
    width: 100%;
    max-width: 1480px;
    background-color: teal;
}